# Created by .ignore support plugin (hsz.mobi)

uploads
application/config/database.php
application/cache
application/logs
robots.txt

# Временно до перехода продакшена на php7
system/classes/Kohana/Kohana/Exception.php
modules/pagination/classes/Kohana/Pagination.php
application/classes/Model/CategoryModel.php