# Created by .ignore support plugin (hsz.mobi)
# Временно до перехода продакшена на php7

uploads
application/config/database.php
application/cache
application/logs
robots.txt


system/classes/Kohana/Kohana/Exception.php
modules/pagination/classes/Kohana/Pagination.php
application/classes/Model/CategoryModel.php