/* line 5, ../.sass/coupon.scss */
.coupon {
    position: relative;
    background-color: #fff;
    border: 1px solid #d8d8d8;
    -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 3px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 3px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 2px 3px;
}

/* line 32, ../.sass/coupon.scss */
.coupon.coupon-big .coupon-body {
    height: 170px;
    font-size: 25px;
    line-height: 1.1;
}
/* line 40, ../.sass/coupon.scss */
.coupon.coupon-modal .coupon-body {
    height: 360px!important;
    font-size: 48px;
    line-height: 1.1;
}
/* line 47, ../.sass/coupon.scss */
.coupon .block {
    display: block;
}
/* line 51, ../.sass/coupon.scss */
.coupon .coupon-body {
    display: table;
    width: 100%;
    color: #e02929;
}
/* line 57, ../.sass/coupon.scss */
.coupon .coupon-body .coupon-content {
    position: relative;
    width: 62%;
    overflow: hidden;
    float: left;
}
/* line 66, ../.sass/coupon.scss */
.coupon .coupon-body .coupon-content .coupon-content-heading {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1001;
    color: #fff;
    font-size: 80%;
    background: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
}
/* line 83, ../.sass/coupon.scss */
.coupon .coupon-body .coupon-content .coupon-image {
    position: absolute;
    left: 50%;
    top: 80%;
    z-index: 1000;
}
/* line 91, ../.sass/coupon.scss */
.coupon .coupon-body .coupon-sidebar {
    width: 38%;
    float: right;
}
/* line 98, ../.sass/coupon.scss */
.coupon .coupon-sidebar-content {
    display: table;
    width: 100%;
    height: 50%;
}
/* line 103, ../.sass/coupon.scss */
.coupon .coupon-sidebar-content .coupon-sidebar-heading {
    display: none;
}
/* line 106, ../.sass/coupon.scss */
.coupon .coupon-sidebar-content .coupon-sidebar-heading .coupon-title {
    margin-top: 10px;
}
/* line 111, ../.sass/coupon.scss */
.coupon .coupon-sidebar-content .coupon-sidebar-body {
    display: table-row;
}
/* line 115, ../.sass/coupon.scss */
.coupon .coupon-sidebar-content .coupon-sidebar-footer {
    display: table-row;
}
/* line 120, ../.sass/coupon.scss */
.coupon .coupon-object-top {
    display: table-cell;
    vertical-align: top;
}
/* line 125, ../.sass/coupon.scss */
.coupon .coupon-object-middle {
    display: table-cell;
    vertical-align: middle;
}
/* line 130, ../.sass/coupon.scss */
.coupon .coupon-object-bottom {
    display: table-cell;
    vertical-align: bottom;
}
/* line 135, ../.sass/coupon.scss */
.coupon .coupon-image,
.coupon .coupon-image img {
    display: block;
    min-width: 100%;
    min-height: 100%;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
/* line 151, ../.sass/coupon.scss */
.coupon .coupon-title {
    text-align: center;
}
/* line 154, ../.sass/coupon.scss */
.coupon .coupon-title span {
    font-size: 70%;
}
/* line 159, ../.sass/coupon.scss */
.coupon small {
    font-size: 55%;
}
/* line 163, ../.sass/coupon.scss */
.coupon .coupon-date {
    display: block;
    text-align: center;
    padding: 5px 0;
}
/* line 169, ../.sass/coupon.scss */
.coupon .pin {
    position: absolute;
    top: -10px;
    right: -10px;
    z-index: 1003;
}

.div-table {
    display: table!important;
    position: relative!important;
    top: -80px!important;

}

.coupon .coupon-date {
    display: block;
    text-align: center;
    padding: 5px 0;
}

.div-table .div-row {
    display: table-row!important;
    top: -200px!important;

}

.div-table .div-cell {
    display: table-cell!important;
    vertical-align: top!important;
    float: none!important;
}

.modal.modal-coupon .coupon .div-table {
    font-size: 14px;
    background: #eeeeee;
    position: relative!important;
    color: #000;

}


.modal.modal-coupon .coupon .div-table > .div-row > .div-cell:first-child {
    width: 200px!important;
}

.modal.modal-coupon .coupon .div-table > .div-row > .div-cell:last-child {
    position: relative!important;
    background: #e4e4e4;
    width: 200px!important;
}

.div-table .div-cell:last-child {
    width: 200px!important;
}

.modal.modal-coupon .coupon .div-table > .div-row > .div-cell {
    padding: 5px !important;
}

.modal.modal-coupon .coupon.coupon-modal .coupon-body .coupon-sidebar-footer .coupon-object-bottom {
    padding-bottom: 0;
}

.coupon .coupon-sidebar-content .coupon-sidebar-footer {
    display: table-row!important;
    height: 10px!important;
    top: -80px!important;
}

.media-left, .media-right, .media-body {
    display: table-cell!important;
    vertical-align: top!important;
}
.media-left, .media > .pull-left {
    padding-right: 10px!important;
}

.coupon .coupon-object-bottom {
    display: table-cell;
    vertical-align: bottom;
}

.media-object {
    display: inline;
    width: 100px;
}

img {
    vertical-align: middle;
}