/* line 27, ../sass/coupon.scss */
.coupon .coupon-container {
  position: relative;
  z-index: 1;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 3px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 3px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 2px 3px;
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: #d8d8d8;
}
/* line 41, ../sass/_common-variables.scss */
.coupon .coupon-container:after {
  content: "";
  clear: both;
  display: block;
}
/* line 43, ../sass/coupon.scss */
.coupon .coupon-container .pin {
  position: absolute;
  z-index: 3;
}
/* line 48, ../sass/coupon.scss */
.coupon .coupon-container .pin .fa,
.coupon .coupon-container .pin .glyphicon {
  -moz-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}
/* line 54, ../sass/coupon.scss */
.coupon .coupon-container .coupon-image {
  width: 100%;
  position: relative;
  display: table-cell;
  vertical-align: middle;
  z-index: 1;
  overflow: hidden;
}
/* line 68, ../sass/coupon.scss */
.coupon .coupon-container .coupon-image img {
  display: block;
  min-width: 100%;
  min-height: 100%;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 83, ../sass/coupon.scss */
.coupon .coupon-container .coupon-image .overlay {
  color: #fff;
  font-size: 14px;
  line-height: 1.2;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
}
@media (min-width: 480px) {
  /* line 102, ../sass/coupon.scss */
  .coupon .coupon-container .coupon-image .overlay {
    font-size: 21px;
  }
}
@media (min-width: 768px) {
  /* line 108, ../sass/coupon.scss */
  .coupon .coupon-container .coupon-image .overlay {
    font-size: 14px;
  }
}
/* line 115, ../sass/coupon.scss */
.coupon .coupon-container .coupon-context {
  display: table-cell;
  vertical-align: middle;
  color: #e02929;
  width: 100%;
  text-align: center;
  font-size: 21px;
  line-height: 1.2;
  position: relative;
  z-index: 1;
}
/* line 120, ../sass/coupon.scss */
.coupon .coupon-container .coupon-context:before {
  content: "";
  display: block;
  min-width: 100px;
}
/* line 137, ../sass/coupon.scss */
.coupon .coupon-container .coupon-context span {
  display: block;
}
/* line 141, ../sass/coupon.scss */
.coupon .coupon-container .coupon-context small {
  display: block;
  font-size: 60%;
}
/* line 146, ../sass/coupon.scss */
.coupon .coupon-container .coupon-context div {
  padding: 5px 0;
}
@media (min-width: 480px) {
  /* line 151, ../sass/coupon.scss */
  .coupon .coupon-container .coupon-context {
    font-size: 35px;
  }
}
@media (min-width: 768px) {
  /* line 157, ../sass/coupon.scss */
  .coupon .coupon-container .coupon-context {
    font-size: 21px;
  }
}
