/* line 11, ../sass/discount.scss */
.discount .owl-carousel {
  position: relative;
}
/* line 14, ../sass/discount.scss */
.discount .owl-carousel .owl-nav {
  font-size: 30px;
}
/* line 18, ../sass/discount.scss */
.discount .owl-carousel .owl-nav .owl-prev,
.discount .owl-carousel .owl-nav .owl-next {
  position: absolute;
  top: 0;
  left: -10px;
  bottom: 0;
  width: 30px;
}
/* line 27, ../sass/discount.scss */
.discount .owl-carousel .owl-nav .owl-next {
  left: auto;
  right: -10px;
}
/* line 32, ../sass/discount.scss */
.discount .owl-carousel .owl-nav .fa {
  position: absolute;
  left: 50%;
  top: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff;
}
/* line 41, ../sass/discount.scss */
.discount .owl-carousel .owl-nav .fa:before {
  position: relative;
  z-index: 2;
}
/* line 46, ../sass/discount.scss */
.discount .owl-carousel .owl-nav .fa:after {
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  background: #007898;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 0 3px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 0 3px;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 3px;
  position: absolute;
  left: 50%;
  top: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  z-index: 1;
}
