/* line 8, ../.sass/footer.scss */
footer {
  position: absolute;
  left: 15px;
  right: 15px;
  bottom: 0;
}
@media (max-width: 768px) {
  /* line 8, ../.sass/footer.scss */
  footer {
    position: static;
    padding-top: 50px;
  }
}

/* line 20, ../.sass/footer.scss */
#footer {
  background: #007898;
  color: #fff;
}
@media (max-width: 767px) {
  /* line 20, ../.sass/footer.scss */
  #footer {
    margin-left: -15px;
    margin-right: -15px;
  }
}
/* line 30, ../.sass/footer.scss */
#footer #footer-header {
  border-bottom: 1px solid #57a5ba;
  padding: 10px 15px;
}
/* line 36, ../.sass/footer.scss */
#footer #footer-header .search {
  padding-top: 10px;
}
/* line 39, ../.sass/footer.scss */
#footer #footer-header .search .form-control {
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}
@media (min-width: 767px) {
  /* line 45, ../.sass/footer.scss */
  #footer #footer-header {
    padding: 20px 30px;
  }
  /* line 48, ../.sass/footer.scss */
  #footer #footer-header .logo {
    float: left;
  }
  /* line 52, ../.sass/footer.scss */
  #footer #footer-header .search {
    float: right;
    padding-top: 4.5px;
  }
}
/* line 60, ../.sass/footer.scss */
#footer #footer-content {
  padding: 10px 15px;
}
/* line 50, ../.sass/_common-variables.scss */
#footer #footer-content:after {
  content: "";
  clear: both;
  display: block;
}
@media (min-width: 767px) {
  /* line 67, ../.sass/footer.scss */
  #footer #footer-content {
    padding: 20px 30px;
  }
}
/* line 73, ../.sass/footer.scss */
#footer #footer-bottom {
  font-size: 16px;
  border-top: 1px solid #57a5ba;
  padding: 10px 15px;
}
@media (min-width: 767px) {
  /* line 79, ../.sass/footer.scss */
  #footer #footer-bottom {
    padding: 10px 30px;
  }
}
/* line 86, ../.sass/footer.scss */
#footer nav ul {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
@media (max-width: 767px) {
  /* line 86, ../.sass/footer.scss */
  #footer nav ul {
    margin-bottom: 20px;
  }
}
/* line 99, ../.sass/footer.scss */
#footer nav ul > li > a {
  font-size: 16px;
  line-height: 30px;
  color: #fff;
}
