/* line 5, ../.sass/google.scss */
.marker {
  width: auto !important;
  max-width: 560px;
}
/* line 10, ../.sass/google.scss */
.marker > img {
  position: absolute !important;
  right: 0;
  top: 0;
  margin: 5px !important;
  z-index: 1000;
}
/* line 18, ../.sass/google.scss */
.marker a {
  cursor: pointer !important;
}
/* line 22, ../.sass/google.scss */
.marker .marker-container {
  display: table;
  background: #fff;
  padding: 15px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 5px 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 5px 5px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 5px 5px;
  position: relative;
}
/* line 50, ../.sass/_common-variables.scss */
.marker .marker-container:after {
  content: "";
  clear: both;
  display: block;
}
/* line 31, ../.sass/google.scss */
.marker .marker-container:after, .marker .marker-container:before {
  content: "";
  display: block;
  position: absolute;
  z-index: 1001;
  top: 100%;
  left: 35px;
  border-top: 18px dashed #fff;
  border-left: 15px dashed transparent;
  border-right: 15px dashed transparent;
}
/* line 48, ../.sass/google.scss */
.marker .marker-container:after {
  left: 34px;
  z-index: 1000;
  border-top: 20px dashed #ccc;
  border-left: 16px dashed transparent;
  border-right: 16px dashed transparent;
}
/* line 56, ../.sass/google.scss */
.marker .marker-container .marker-context {
  display: table-cell;
  padding: 0 15px;
}
@media (max-width: 768px) {
  /* line 56, ../.sass/google.scss */
  .marker .marker-container .marker-context {
    display: block;
    padding: 0;
  }
}
/* line 66, ../.sass/google.scss */
.marker .marker-container .marker-sidebar {
  display: table-cell;
  border-left: 1px solid #989898;
  vertical-align: top;
  padding: 10px 0 0 15px;
  font-size: 14px;
}
/* line 74, ../.sass/google.scss */
.marker .marker-container .marker-sidebar .marker-favorites {
  white-space: nowrap;
  margin-bottom: 15px;
}
/* line 79, ../.sass/google.scss */
.marker .marker-container .marker-sidebar .marker-favorites .fa {
  margin-right: 5px;
}
/* line 84, ../.sass/google.scss */
.marker .marker-container .marker-sidebar .marker-luxury {
  white-space: nowrap;
  margin-bottom: 15px;
}
/* line 50, ../.sass/_common-variables.scss */
.marker .marker-container .marker-sidebar .marker-luxury:after {
  content: "";
  clear: both;
  display: block;
}
/* line 89, ../.sass/google.scss */
.marker .marker-container .marker-sidebar .marker-luxury .button {
  display: block;
  float: left;
}
/* line 50, ../.sass/_common-variables.scss */
.marker .marker-container .marker-sidebar .marker-coupon:after {
  content: "";
  clear: both;
  display: block;
}
/* line 50, ../.sass/_common-variables.scss */
.marker .marker-container .marker-sidebar .marker-coupon a:after {
  content: "";
  clear: both;
  display: block;
}
/* line 102, ../.sass/google.scss */
.marker .marker-container .marker-sidebar .marker-coupon a .fa {
  display: block;
  color: #000;
  border: 1px dashed #000;
  margin-right: 5px;
  float: left;
  padding: 1px;
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
@media (max-width: 768px) {
  /* line 66, ../.sass/google.scss */
  .marker .marker-container .marker-sidebar {
    display: block;
    border: 0;
    padding: 10px 0 0 0;
  }
}
/* line 121, ../.sass/google.scss */
.marker .marker-container .marker-logo {
  display: table-cell;
  vertical-align: middle;
}
/* line 126, ../.sass/google.scss */
.marker .marker-container .marker-logo img {
  display: block;
  width: 100px;
  height: auto;
  vertical-align: middle;
}
@media (max-width: 768px) {
  /* line 121, ../.sass/google.scss */
  .marker .marker-container .marker-logo {
    display: block;
  }
}
/* line 139, ../.sass/google.scss */
.marker .marker-container .marker-title {
  font-size: 18px;
}
/* line 142, ../.sass/google.scss */
.marker .marker-container .marker-title a {
  color: #000;
}
/* line 66, ../.sass/_common-variables.scss */
.marker .marker-container .marker-title a {
  text-decoration: underline;
}
/* line 69, ../.sass/_common-variables.scss */
.marker .marker-container .marker-title a:hover {
  text-decoration: none;
}
/* line 149, ../.sass/google.scss */
.marker .marker-container .marker-type {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 10px;
}
/* line 154, ../.sass/google.scss */
.marker .marker-container .marker-type .marker-type-icon {
  height: 16px;
  padding-right: 5px;
}
/* line 160, ../.sass/google.scss */
.marker .marker-container ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* line 165, ../.sass/google.scss */
.marker .marker-container ul li {
  font-size: 12px;
  white-space: nowrap;
}
/* line 50, ../.sass/_common-variables.scss */
.marker:after {
  content: "";
  clear: both;
  display: block;
}

/* line 176, ../.sass/google.scss */
.google-map-filter {
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 1px 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 1px 5px;
  box-shadow: rgba(0, 0, 0, 0.4) 0 1px 5px;
  margin-bottom: 20px;
  padding: 30px 20px;
}
@media (max-width: 768px) {
  /* line 176, ../.sass/google.scss */
  .google-map-filter {
    padding: 10px 15px;
    margin-left: -15px;
    margin-right: -15px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}
/* line 189, ../.sass/google.scss */
.google-map-filter #google-map-search {
  margin-bottom: 20px;
  margin-right: 20px;
  width: 35%;
  float: right;
}
@media (max-width: 768px) {
  /* line 189, ../.sass/google.scss */
  .google-map-filter #google-map-search {
    width: 100%;
    margin-right: 0;
  }
}
@media (max-width: 1024px) {
  /* line 189, ../.sass/google.scss */
  .google-map-filter #google-map-search {
    width: auto;
  }
}
/* line 205, ../.sass/google.scss */
.google-map-filter #google-map-search .glyphicon {
  color: #0d7d9c;
}
/* line 209, ../.sass/google.scss */
.google-map-filter #google-map-search .form-control {
  border: 0;
  background: #e8eaeb;
}
/* line 215, ../.sass/google.scss */
.google-map-filter .google-map-shorkeys {
  font-size: 16px;
  padding-top: 5px;
  margin-bottom: 20px;
  float: left;
}
/* line 50, ../.sass/_common-variables.scss */
.google-map-filter .google-map-shorkeys:after {
  content: "";
  clear: both;
  display: block;
}
@media (max-width: 768px) {
  /* line 215, ../.sass/google.scss */
  .google-map-filter .google-map-shorkeys {
    margin-left: -15px;
    margin-right: -15px;
  }
}
/* line 228, ../.sass/google.scss */
.google-map-filter .google-map-shorkeys a {
  display: block;
  margin: 0 20px;
  float: left;
}
@media (max-width: 768px) {
  /* line 228, ../.sass/google.scss */
  .google-map-filter .google-map-shorkeys a {
    margin: 0;
    padding: 5px 15px;
  }
}
/* line 240, ../.sass/google.scss */
.google-map-filter .checkbox-container {
  font-size: 16px;
}
/* line 58, ../.sass/_common-variables.scss */
.google-map-filter .checkbox-container:before {
  content: "";
  clear: both;
  display: block;
}
/* line 244, ../.sass/google.scss */
.google-map-filter .checkbox-container .checkbox {
  margin: 0;
}
/* line 50, ../.sass/_common-variables.scss */
.google-map-filter .checkbox-container .checkbox:after {
  content: "";
  clear: both;
  display: block;
}
@media (max-width: 768px) {
  /* line 244, ../.sass/google.scss */
  .google-map-filter .checkbox-container .checkbox {
    margin: 0 -5px;
  }
}
/* line 254, ../.sass/google.scss */
.google-map-filter .checkbox-container .checkbox label {
  margin: 0 20px;
}
@media (max-width: 768px) {
  /* line 254, ../.sass/google.scss */
  .google-map-filter .checkbox-container .checkbox label {
    margin: 0;
    padding: 5px;
    width: 50%;
    float: left;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  /* line 254, ../.sass/google.scss */
  .google-map-filter .checkbox-container .checkbox label {
    width: 33.33333333%;
  }
}
/* line 277, ../.sass/google.scss */
.google-map-filter .restaurants .form-control,
.google-map-filter .purchases .form-control,
.google-map-filter .night-life .form-control,
.google-map-filter .beauty .form-control,
.google-map-filter .hotels .form-control,
.google-map-filter .relax .form-control {
  border: 0;
}
/* line 279, ../.sass/google.scss */
.google-map-filter .restaurants .form-control .input-icon,
.google-map-filter .purchases .form-control .input-icon,
.google-map-filter .night-life .form-control .input-icon,
.google-map-filter .beauty .form-control .input-icon,
.google-map-filter .hotels .form-control .input-icon,
.google-map-filter .relax .form-control .input-icon {
  color: #fff;
}
/* line 286, ../.sass/google.scss */
.google-map-filter .restaurants .form-control {
  background: #d22a2a;
}
/* line 292, ../.sass/google.scss */
.google-map-filter .purchases .form-control {
  background: #ae29b6;
}
/* line 298, ../.sass/google.scss */
.google-map-filter .night-life .form-control {
  background: #3f4fb0;
}
/* line 304, ../.sass/google.scss */
.google-map-filter .beauty .form-control {
  background: #fc50b5;
}
/* line 310, ../.sass/google.scss */
.google-map-filter .hotels .form-control {
  background: #e6ad40;
}
/* line 316, ../.sass/google.scss */
.google-map-filter .relax .form-control {
  background: #29b64d;
}
