/* line 4, ../.sass/icons.scss */
.icons {
  display: inline-block;
  background: url("../images/icons.png") no-repeat;
  text-indent: -9999px;
}
/* line 12, ../.sass/icons.scss */
.icons.plane {
  width: 146px;
  height: 144px;
  background-position: 100% 0;
}
/* line 19, ../.sass/icons.scss */
.icons.logo {
  background-position: 0 0;
  width: 250px;
  height: 54px;
}
/* line 26, ../.sass/icons.scss */
.icons.logo.white {
  width: 200px;
  height: 43px;
  background-position: 0 -54px;
}
/* line 32, ../.sass/icons.scss */
.icons.logo.md {
  width: 200px;
  height: 43px;
  background-position: 0 -97px;
}
