/* line 4, ../.sass/icons.scss */
.icons {
  display: inline-block;
  background: url("../images/icons.png") no-repeat;
  text-indent: -9999px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* line 17, ../.sass/icons.scss */
  .icons {
    background-image: url("../images/icons@2x.png");
    background-size: 500px 500px;
  }
}
/* line 24, ../.sass/icons.scss */
.icons.plane {
  width: 146px;
  height: 144px;
  background-position: 100% 0;
}
/* line 31, ../.sass/icons.scss */
.icons.logo {
  background-position: 0 0;
  width: 250px;
  height: 54px;
}
/* line 38, ../.sass/icons.scss */
.icons.logo.white {
  width: 200px;
  height: 43px;
  background-position: 0 -54px;
}
/* line 44, ../.sass/icons.scss */
.icons.logo.md {
  width: 200px;
  height: 43px;
  background-position: 0 -97px;
}
