/* line 5, ../sass/media.scss */
.media {
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  /* line 10, ../sass/media.scss */
  .media .media-left,
  .media .media_right {
    display: block;
    margin-bottom: 10px;
  }
  /* line 15, ../sass/media.scss */
  .media .media-left img,
  .media .media_right img {
    width: 100%;
    height: auto;
  }
}
/* line 22, ../sass/media.scss */
.media .media-body {
  font-size: 14px;
}
/* line 27, ../sass/media.scss */
.media h2 a {
  color: #000;
  text-decoration: underline;
}
/* line 31, ../sass/media.scss */
.media h2 a:hover {
  text-decoration: none;
}
