/*
.media {

  margin-bottom: $margin-bottom-base;

  .media-body{
    font-size:14px;
  }

  h2 {
    a {
      color: #000;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

.panel{

  .well {
    background: #e7effe;
    @include box-shadow(rgba(0, 0, 0, 0.2) 0 4px 4px);
    border-color: $color-white;
    border-width: 5px;

    .media {
      margin: 0;
    }
  }

  .media {
    margin-top: 5px;

    .media-heading {
      font-size: 22px;
    }

    .media-right {
      padding-left: 40px;
    }

    .media-left {
      padding-right: 40px;
    }

    @media (max-width: 768px) {
      .media-left,
      .media_right {
        padding:0;
        display: block;
        margin-bottom: 10px;

        img {
          width: 100%;
          height:auto;
        }
      }
    }
  }
}*/
