/* line 9, ../.sass/modal.scss */
.modal.subscribe .modal-dialog {
  padding-top: 50px;
  margin: 30px auto;
  width: 700px;
}
@media (max-width: 768px) {
  /* line 9, ../.sass/modal.scss */
  .modal.subscribe .modal-dialog {
    width: 100%;
  }
}
/* line 19, ../.sass/modal.scss */
.modal.subscribe .modal-content {
  background: #fff;
  color: #007797;
  font-size: 26px;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2JiZWJmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #bbebff));
  background-image: -moz-linear-gradient(#ffffff, #bbebff);
  background-image: -webkit-linear-gradient(#ffffff, #bbebff);
  background-image: linear-gradient(#ffffff, #bbebff);
  -moz-box-shadow: rgba(0, 0, 0, 0.78) 0 4px 43px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.78) 0 4px 43px;
  box-shadow: rgba(0, 0, 0, 0.78) 0 4px 43px;
  -moz-border-radius: 0 !important;
  -webkit-border-radius: 0;
  border-radius: 0 !important;
}
/* line 29, ../.sass/modal.scss */
.modal.subscribe .modal-header {
  border: 0;
}
/* line 32, ../.sass/modal.scss */
.modal.subscribe .modal-header .icons.logo {
  float: right;
}
@media (max-width: 768px) {
  /* line 32, ../.sass/modal.scss */
  .modal.subscribe .modal-header .icons.logo {
    float: none;
  }
}
/* line 40, ../.sass/modal.scss */
.modal.subscribe .modal-header .close {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: -50px;
  color: #fff !important;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  text-shadow: none !important;
}
@media (max-width: 768px) {
  /* line 40, ../.sass/modal.scss */
  .modal.subscribe .modal-header .close {
    left: 15px;
  }
}
/* line 55, ../.sass/modal.scss */
.modal.subscribe .modal-header .close .lnr {
  font-size: 50px;
  position: absolute;
  top: -9px;
  left: -9px;
}
/* line 64, ../.sass/modal.scss */
.modal.subscribe .modal-footer {
  border: 0;
}
/* line 68, ../.sass/modal.scss */
.modal.subscribe .modal-body {
  padding-left: 50px;
  padding-right: 50px;
}
@media (max-width: 768px) {
  /* line 68, ../.sass/modal.scss */
  .modal.subscribe .modal-body {
    padding-left: 15px;
    padding-right: 15px;
  }
}
/* line 78, ../.sass/modal.scss */
.modal.subscribe .modal-body .checkbox {
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 20px;
}
/* line 84, ../.sass/modal.scss */
.modal.subscribe .modal-body .checkbox label {
  line-height: 30px;
  margin: 0 15px;
}
/* line 89, ../.sass/modal.scss */
.modal.subscribe .modal-body .checkbox .input-icon {
  color: #e02929;
}
/* line 94, ../.sass/modal.scss */
.modal.subscribe .modal-body .form-control {
  border: 0;
}
/* line 100, ../.sass/modal.scss */
.modal.subscribe .gift-container {
  display: table;
  font-size: 35px;
  line-height: 1.25;
  margin-bottom: 20px;
}
/* line 49, ../.sass/_common-variables.scss */
.modal.subscribe .gift-container:after {
  content: "";
  clear: both;
  display: block;
}
/* line 107, ../.sass/modal.scss */
.modal.subscribe .gift-container > div {
  display: table-cell;
  vertical-align: middle;
}
/* line 112, ../.sass/modal.scss */
.modal.subscribe .gift-container .icon_gift {
  font-size: 100px;
  color: #e02929;
  margin-right: 20px;
  float: left;
}
