/* line 7, ../.sass/page.scss */
.page .page-heading {
  margin-bottom: 20px;
}
/* line 49, ../.sass/_common-variables.scss */
.page .page-heading:after {
  content: "";
  clear: both;
  display: block;
}
/* line 12, ../.sass/page.scss */
.page .page-title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
}
/* line 18, ../.sass/page.scss */
.page .page-context {
  font-size: 18px;
  margin-bottom: 20px;
}
/* line 23, ../.sass/page.scss */
.page .form-title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
}
/* line 31, ../.sass/page.scss */
.page .form-group label {
  padding: 10px 0;
  font-size: 18px;
  font-weight: normal;
}
@media (max-width: 768px) {
  /* line 31, ../.sass/page.scss */
  .page .form-group label {
    padding: 0;
  }
}
/* line 42, ../.sass/page.scss */
.page .form-control {
  border: 0;
  background: #ebebeb;
  resize: none;
}

/* line 49, ../.sass/page.scss */
.page-profile {
  position: relative;
  z-index: 999;
  display: table;
  min-width: 100%;
  background: #f0f0f0;
  padding: 20px;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  /* line 49, ../.sass/page.scss */
  .page-profile {
    display: block;
    margin-left: -15px;
    margin-right: -15px;
  }
}
/* line 67, ../.sass/page.scss */
.page-profile .profile-title {
  font-size: 32px;
  line-height: 1.25;
}
/* line 72, ../.sass/page.scss */
.page-profile .profile-link {
  font-size: 18px;
  line-height: 1.25;
}
/* line 77, ../.sass/page.scss */
.page-profile .profile-tags {
  margin: 5px -5px;
}
/* line 81, ../.sass/page.scss */
.page-profile .profile-tags li {
  margin: 5px;
}
/* line 85, ../.sass/page.scss */
.page-profile .profile-tags a {
  color: #767676;
  background: #d6d6d6;
  font-size: 14px;
  line-height: 1.25;
  padding: 1.5px 10px;
}
/* line 94, ../.sass/page.scss */
.page-profile .profile-tags a:hover {
  color: #fff;
  background: #007898;
}
/* line 101, ../.sass/page.scss */
.page-profile .profile-media {
  display: table-cell;
  vertical-align: top;
  padding-right: 20px;
  width: 200px;
}
@media (max-width: 768px) {
  /* line 101, ../.sass/page.scss */
  .page-profile .profile-media {
    display: block;
    padding: 0;
    margin-bottom: 10px;
  }
}
/* line 114, ../.sass/page.scss */
.page-profile .profile-media .profile-avatar {
  position: relative;
  width: 200px;
  height: 200px;
  background: #fff;
  overflow: hidden;
  -moz-box-shadow: rgba(0, 0, 0, 0.75) 0 2px 3px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 0 2px 3px;
  box-shadow: rgba(0, 0, 0, 0.75) 0 2px 3px;
}
/* line 124, ../.sass/page.scss */
.page-profile .profile-media .profile-avatar img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: auto;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 137, ../.sass/page.scss */
.page-profile .profile-body {
  display: table-cell;
  vertical-align: top;
}
/* line 141, ../.sass/page.scss */
.page-profile .profile-body .profile-content,
.page-profile .profile-body .profile-footer {
  display: table;
  width: 100%;
}
/* line 146, ../.sass/page.scss */
.page-profile .profile-body .profile-content .profile-context,
.page-profile .profile-body .profile-content .profile-sidebar,
.page-profile .profile-body .profile-footer .profile-context,
.page-profile .profile-body .profile-footer .profile-sidebar {
  display: table-cell;
  vertical-align: top;
  padding: 5px 0;
}
/* line 153, ../.sass/page.scss */
.page-profile .profile-body .profile-content .profile-context,
.page-profile .profile-body .profile-footer .profile-context {
  width: 60%;
  padding-right: 30px;
}
/* line 158, ../.sass/page.scss */
.page-profile .profile-body .profile-content .profile-sidebar,
.page-profile .profile-body .profile-footer .profile-sidebar {
  width: 40%;
  padding-left: 30px;
}
/* line 165, ../.sass/page.scss */
.page-profile .profile-body .profile-content .profile-context {
  border-right: 1px solid #a6a6a6;
}
@media (max-width: 768px) {
  /* line 137, ../.sass/page.scss */
  .page-profile .profile-body {
    display: block;
  }
  /* line 177, ../.sass/page.scss */
  .page-profile .profile-body .profile-content .profile-context,
  .page-profile .profile-body .profile-content .profile-sidebar,
  .page-profile .profile-body .profile-footer .profile-context,
  .page-profile .profile-body .profile-footer .profile-sidebar {
    display: block;
    width: auto;
    padding-left: 0;
    padding-right: 0;
    border: 0;
  }
}
/* line 189, ../.sass/page.scss */
.primary-gallery + .page-profile {
  margin-top: -20px;
}
@media (min-width: 768px) {
  /* line 193, ../.sass/page.scss */
  .primary-gallery + .page-profile .profile-media .profile-avatar {
    margin-top: -60px;
  }
}

/*
.page-profile {

  position: relative;

  z-index: 1001;

  margin-top: ($margin-bottom-base*-1);
  margin-bottom: $margin-bottom-base;

  background: #f0f0f0;

  padding: $padding-base-big $padding-base-horizontal;

  @include clear-after;

  @media (max-width: 768px) {
    margin-left: ($margin-horizontal-base*-1);
    margin-right: ($margin-horizontal-base*-1);
  }

  .page-profile-avarat {
    position: relative;
    width: 200px;
    height: 200px;
    background: $color-white;
    overflow: hidden;

    margin-top: ((40+$margin-bottom-base)*-1);
    margin-left: $margin-horizontal-base;
    margin-right: $margin-horizontal-base;

    @include box-shadow(rgba(0, 0, 0, 0.75) 0 2px 3px);
    @include pull-left;

    @media (max-width: 768px) {
      margin: 0 0 $margin-bottom-base 0;
    }

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  .nav-pills {

    margin-left: -5px;
    margin-right: -5px;
    margin-bottom: 10px;

    li {
      margin: 0 5px;
    }

    a {
      color: #767676;
      background: #d6d6d6;

      font-size: 14px;
      line-height: 1.25;

      padding: 1.5px 10px;

      &:hover {
        color: $color-white;
        background: $link-color;
      }
    }
  }

  .page-profile-link {
    font-size: 18px;
    line-height: 1.1;
    margin-bottom: $margin-bottom-base;
  }

  .page-profile-content {
    width: 60%;
    padding: 0 ($padding-base-horizontal*3) 0 $padding-base-horizontal;
  }

  .page-profile-sidebar {
    width: 40%;
    position: relative;
    left: -1px;
    padding: 0 $padding-base-horizontal 0 ($padding-base-horizontal*3);
  }

  .page-profile-body {

    @include clear-after;

    .page-profile-content {
      padding-top: 5px;
      border-right: 1px solid #a6a6a6;
    }

    .page-profile-sidebar {
      padding-top: 5px;
      border-left: 1px solid #a6a6a6;
    }

    .page-profile-title {
      font-size: 32px;
      line-height: 1.1;
    }
  }

  .page-profile-footer {
  }

  .page-profile-body,
  .page-profile-footer {

    padding-bottom: 5px;

    position: relative;
    overflow: hidden;

    @include clear-after;

    @media (max-width: 768px) {
      width: 100%;
      overflow: visible;
      padding: 0;
    }
  }

  .page-profile-content,
  .page-profile-sidebar {

    @include pull-left;

    @media (max-width: 768px) {
      width: 100%;
      padding: 0 !important;
      border: 0 !important;
      position: static;
      margin-bottom: ($margin-bottom-base / 2);
    }
  }
}

.page-contacts {

  @extend .page !optional;
  @extend .inner-100 !optional;

  border: 1px solid #e7e7e7;
  width: 65%;
  margin: 0 auto;
  background: url('../images/sky.jpg') no-repeat;

  @media (max-width: 768px) {
    padding: 15px !important;
    margin-left:-15px;
    margin-right:-15px;
    border:0;
    width: auto;
  }

  .icons.plane {
    margin-bottom: ($margin-bottom-base*-1);
    position: relative;
    bottom: ($margin-bottom-base*-1);
    @include pull-right;
  }

  .page-title {
    font-size: 35px;
  }

  .form-title {
    margin-bottom: ($margin-bottom-base*2);

    @media (max-width: 768px) {
      margin-bottom: $margin-bottom-base;
    }
  }
}
*/
