/* line 5, ../sass/panel.scss */
.panel {
  border-color: transparent;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 11, ../sass/panel.scss */
.panel.panel-top {
  border-color: #d8d8d8;
}
/* line 14, ../sass/panel.scss */
.panel.panel-top .panel-body {
  margin-left: -15px;
  margin-right: -15px;
  padding: 0;
}
/* line 21, ../sass/panel.scss */
.panel.panel-top .panel-body .panel-top-main-image {
  position: relative;
}
/* line 25, ../sass/panel.scss */
.panel.panel-top .panel-body .panel-top-main-image .panel-top-main-image-text {
  padding: 15px;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  color: #fff;
}
/* line 29, ../sass/panel.scss */
.panel.panel-top .panel-body .panel-top-main-image .panel-top-main-image-text h2 {
  margin: 0;
}
/* line 42, ../sass/panel.scss */
.panel.panel-top .panel-body .panel-top-main-image .panel-top-main-image-text a {
  color: #fff;
  text-decoration: underline;
}
/* line 46, ../sass/panel.scss */
.panel.panel-top .panel-body .panel-top-main-image .panel-top-main-image-text a:hover {
  text-decoration: none;
}
/* line 53, ../sass/panel.scss */
.panel.panel-top .panel-body .btn-default.more {
  margin-bottom: 15px;
}
/* line 59, ../sass/panel.scss */
.panel.panel-top .panel-body .list-group a {
  color: #000;
  text-decoration: underline;
}
/* line 63, ../sass/panel.scss */
.panel.panel-top .panel-body .list-group a:hover {
  text-decoration: none;
}
/* line 68, ../sass/panel.scss */
.panel.panel-top .panel-body .list-group .list-group-image {
  display: block;
  width: 100%;
  margin: 0 0 15px 0;
}
/* line 75, ../sass/panel.scss */
.panel.panel-top .panel-body .list-group .list-group-image img {
  display: block;
  width: 100%;
}
@media (min-width: 768px) {
  /* line 82, ../sass/panel.scss */
  .panel.panel-top .panel-body .list-group .list-group-image {
    float: left;
    margin: 0 15px 0 0;
    max-width: 120px;
  }
  /* line 88, ../sass/panel.scss */
  .panel.panel-top .panel-body .list-group .list-group-image img {
    width: auto;
  }
}
/* line 96, ../sass/panel.scss */
.panel.panel-top .panel-body .list-group .list-group-container {
  position: relative;
  overflow: hidden;
}
/* line 101, ../sass/panel.scss */
.panel.panel-top .panel-body .list-group .list-group-item {
  background: none;
  border-color: transparent;
}
/* line 105, ../sass/panel.scss */
.panel.panel-top .panel-body .list-group .list-group-item-text {
  color: #000;
}
/* line 108, ../sass/panel.scss */
.panel.panel-top .panel-body .list-group .list-group-item-description {
  margin: 3px 0;
  color: #000;
}
/* line 116, ../sass/panel.scss */
.panel.panel-coupons-carousel {
  border-color: #d8d8d8;
}
/* line 120, ../sass/panel.scss */
.panel.panel-coupons-carousel .panel-heading {
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
}
/* line 126, ../sass/panel.scss */
.panel.panel-coupons-carousel .panel-body {
  padding: 0 15px;
}
/* line 130, ../sass/panel.scss */
.panel.panel-coupons-carousel .owl-carousel {
  padding: 0 15px;
  margin-bottom: 20px;
}
/* line 135, ../sass/panel.scss */
.panel.panel-coupons-carousel .owl-carousel .coupon {
  padding: 15px;
}
/* line 139, ../sass/panel.scss */
.panel.panel-coupons-carousel .owl-carousel .owl-stage-outer {
  z-index: 2;
}
/* line 143, ../sass/panel.scss */
.panel.panel-coupons-carousel .owl-carousel .owl-nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
/* line 152, ../sass/panel.scss */
.panel.panel-coupons-carousel .owl-carousel .owl-nav .owl-prev,
.panel.panel-coupons-carousel .owl-carousel .owl-nav .owl-next {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: auto;
  width: 15px;
}
/* line 162, ../sass/panel.scss */
.panel.panel-coupons-carousel .owl-carousel .owl-nav .owl-prev .fa,
.panel.panel-coupons-carousel .owl-carousel .owl-nav .owl-next .fa {
  color: #007898;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -20px;
  font-size: 40px;
  font-weight: bold;
}
/* line 176, ../sass/panel.scss */
.panel.panel-coupons-carousel .owl-carousel .owl-nav .owl-next {
  left: auto;
  right: 0;
}
/* line 185, ../sass/panel.scss */
.panel.panel-coupons-thumbnail .coupon {
  margin-bottom: 20px;
}
/* line 188, ../sass/panel.scss */
.panel.panel-coupons-thumbnail .coupon .coupon-context {
  height: 200px;
}
/* line 192, ../sass/panel.scss */
.panel.panel-coupons-thumbnail .coupon .coupon-context:before {
  content: "";
  display: block;
  width: 135px;
}
/* line 198, ../sass/panel.scss */
.panel.panel-coupons-thumbnail .coupon .coupon-context .coupon-date {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 5px;
}
/* line 209, ../sass/panel.scss */
.panel .panel-title {
  font-size: 30px;
  line-height: 120%;
  display: inline-block;
}
@media (min-width: 768px) {
  /* line 217, ../sass/panel.scss */
  .panel .panel-title {
    margin-right: 30px;
    float: left;
  }
}
/* line 224, ../sass/panel.scss */
.panel .panel-heading {
  padding: 0 15px;
}
/* line 41, ../sass/_common-variables.scss */
.panel .panel-heading:after {
  content: "";
  clear: both;
  display: block;
}
/* line 230, ../sass/panel.scss */
.panel .panel-heading .btn {
  border: 1px solid #e7e7e7;
  color: #000;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
/* line 238, ../sass/panel.scss */
.panel .panel-heading .dropdown .btn .caret {
  border-top: 7px dashed;
  border-top: 7px solid \9;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
}
/* line 248, ../sass/panel.scss */
.panel .panel-heading .dropdown.open .btn .caret {
  border-top: 0;
  border-bottom: 7px dashed;
  border-bottom: 7px solid \9;
}
/* line 256, ../sass/panel.scss */
.panel .panel-heading .dropdown .dropdown-menu {
  max-height: 270px;
  overflow-y: auto;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  margin-top: -1px;
}
/* line 264, ../sass/panel.scss */
.panel .panel-heading .nav {
  padding: 5px 0;
  font-size: 16px;
}
/* line 269, ../sass/panel.scss */
.panel .panel-heading .nav > li {
  float: none;
}
/* line 271, ../sass/panel.scss */
.panel .panel-heading .nav > li > a {
  padding: 3px 10px;
  color: #848484;
}
/* line 276, ../sass/panel.scss */
.panel .panel-heading .nav > li.active > a {
  color: #fff;
}
@media (min-width: 768px) {
  /* line 269, ../sass/panel.scss */
  .panel .panel-heading .nav > li {
    float: left;
  }
}
/* line 288, ../sass/panel.scss */
.panel .panel-heading .panel-heading-sub {
  padding: 5px 0;
}
/* line 41, ../sass/_common-variables.scss */
.panel .panel-heading .panel-heading-sub:after {
  content: "";
  clear: both;
  display: block;
}
/* line 292, ../sass/panel.scss */
.panel .panel-heading .panel-heading-sub .btn {
  margin-right: 15px;
}
@media (min-width: 768px) {
  /* line 288, ../sass/panel.scss */
  .panel .panel-heading .panel-heading-sub {
    padding: 0;
  }
}
/* line 41, ../sass/_common-variables.scss */
.panel .pabel-body:after {
  content: "";
  clear: both;
  display: block;
}
/* line 308, ../sass/panel.scss */
.panel .panel-footer {
  background: none;
  border: 0;
  padding: 0 15px;
}
/* line 314, ../sass/panel.scss */
.panel .well {
  background: #e7effe;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 4px 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 4px 4px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 4px 4px;
  border-color: #fff;
  border-width: 5px;
}
/* line 320, ../sass/panel.scss */
.panel .well .media {
  margin: 0;
}
/* line 325, ../sass/panel.scss */
.panel .media {
  margin-top: 5px;
}
/* line 327, ../sass/panel.scss */
.panel .media .media-heading {
  font-size: 22px;
}
