/* line 5, ../.sass/panel.scss */
.panel-navigation {
  margin: 0 -5px;
  padding: 0;
  list-style-type: none;
}
/* line 11, ../.sass/panel.scss */
.panel-navigation li {
  margin: 0 5px;
}
/* line 14, ../.sass/panel.scss */
.panel-navigation li a {
  font-size: 16px;
  line-height: 1.1;
  padding: 4px 8px;
  color: #848484;
}

/* line 25, ../.sass/panel.scss */
.panel {
  border-color: transparent;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-bottom: 20px;
}
/* line 49, ../.sass/_common-variables.scss */
.panel:after {
  content: "";
  clear: both;
  display: block;
}
/* line 34, ../.sass/panel.scss */
.panel .panel-heading {
  padding: 0;
  margin-bottom: 20px;
}
/* line 49, ../.sass/_common-variables.scss */
.panel .panel-heading:after {
  content: "";
  clear: both;
  display: block;
}
/* line 41, ../.sass/panel.scss */
.panel .panel-heading .panel-title {
  font-size: 30px;
  line-height: 1.25;
  margin-right: 50px;
  float: left;
}
/* line 48, ../.sass/panel.scss */
.panel .panel-heading .panel-title.rtl {
  margin-left: 50px;
  margin-right: 0;
}
@media (max-width: 768px) {
  /* line 41, ../.sass/panel.scss */
  .panel .panel-heading .panel-title {
    float: none;
    margin-right: 0;
  }
}
/* line 58, ../.sass/panel.scss */
.panel .panel-heading .panel-title small {
  font-size: 70%;
}
/* line 63, ../.sass/panel.scss */
.panel .panel-heading .panel-buttons-group {
  margin: 0 -5px;
}
/* line 49, ../.sass/_common-variables.scss */
.panel .panel-heading .panel-buttons-group:after {
  content: "";
  clear: both;
  display: block;
}
@media (max-width: 768px) {
  /* line 63, ../.sass/panel.scss */
  .panel .panel-heading .panel-buttons-group {
    margin-top: 10px;
    width: 100%;
  }
}
/* line 74, ../.sass/panel.scss */
.panel .panel-heading .panel-buttons-group .form-control,
.panel .panel-heading .panel-buttons-group .btn {
  margin: 2px 5px;
  width: auto;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  float: left;
}
/* line 83, ../.sass/panel.scss */
.panel .panel-heading .panel-navigation {
  margin-top: 10px;
}
/* line 87, ../.sass/panel.scss */
.panel .panel-heading .panel-navigation li {
  margin: 5px;
}
@media (max-width: 768px) {
  /* line 87, ../.sass/panel.scss */
  .panel .panel-heading .panel-navigation li {
    float: none;
  }
}
/* line 96, ../.sass/panel.scss */
.panel .panel-heading .panel-links {
  font-size: 14px;
  color: #dedede;
  padding: 8.5px 0;
}
/* line 103, ../.sass/panel.scss */
.panel .panel-body {
  margin-bottom: 20px;
  padding: 0;
  margin-left: -15px;
  margin-right: -15px;
}
/* line 49, ../.sass/_common-variables.scss */
.panel .panel-body:after {
  content: "";
  clear: both;
  display: block;
}
/* line 113, ../.sass/panel.scss */
.panel .panel-footer {
  background: none;
  border: 0;
  padding: 0;
}
/* line 118, ../.sass/panel.scss */
.panel .panel-footer .pagination {
  margin: 0;
}

/* line 75, ../.sass/_common-variables.scss */
.panel.panel-thumbnails .panel-heading .collapse,
.panel.panel-thumbnails .panel-heading .collapsing,
.panel.panel-thumbnails .panel-heading .collapse.in {
  width: 100%;
}
/* line 57, ../.sass/_common-variables.scss */
.panel.panel-thumbnails .panel-heading .collapse:before,
.panel.panel-thumbnails .panel-heading .collapsing:before,
.panel.panel-thumbnails .panel-heading .collapse.in:before {
  content: "";
  clear: both;
  display: block;
}
/* line 132, ../.sass/panel.scss */
.panel.panel-thumbnails .panel-body .thumbnail {
  position: relative;
  font-size: 14px;
  border: 0;
}
/* line 137, ../.sass/panel.scss */
.panel.panel-thumbnails .panel-body .thumbnail a {
  color: #000;
}
/* line 65, ../.sass/_common-variables.scss */
.panel.panel-thumbnails .panel-body .thumbnail a {
  text-decoration: underline;
}
/* line 68, ../.sass/_common-variables.scss */
.panel.panel-thumbnails .panel-body .thumbnail a:hover {
  text-decoration: none;
}
/* line 142, ../.sass/panel.scss */
.panel.panel-thumbnails .panel-body .thumbnail .thumbnail-title {
  font-size: 18px;
  line-height: 1.25;
  font-weight: bold;
}
/* line 147, ../.sass/panel.scss */
.panel.panel-thumbnails .panel-body .thumbnail .thumbnail-title small {
  display: block;
  font-size: 14px;
  color: #000;
  font-weight: bold;
  margin-top: 5px;
}
/* line 156, ../.sass/panel.scss */
.panel.panel-thumbnails .panel-body .thumbnail .pin {
  position: absolute;
  top: -10px;
  right: -10px;
  z-index: 1003;
}
/* line 163, ../.sass/panel.scss */
.panel.panel-thumbnails .panel-body .thumbnail .thumbnail-image {
  display: block;
  position: relative;
}
/* line 168, ../.sass/panel.scss */
.panel.panel-thumbnails .panel-body .thumbnail .thumbnail-image img {
  width: 100%;
  position: relative;
  z-index: 2;
}
/* line 174, ../.sass/panel.scss */
.panel.panel-thumbnails .panel-body .thumbnail .thumbnail-image:before, .panel.panel-thumbnails .panel-body .thumbnail .thumbnail-image:after {
  z-index: 1;
  position: absolute;
  content: "";
  bottom: 7px;
  left: 5%;
  height: 1px;
  width: 45%;
  -moz-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  -webkit-transform: rotate(-2deg);
  transform: rotate(-2deg);
  -moz-box-shadow: black 0 7px 7px;
  -webkit-box-shadow: black 0 7px 7px;
  box-shadow: black 0 7px 7px;
}
/* line 188, ../.sass/panel.scss */
.panel.panel-thumbnails .panel-body .thumbnail .thumbnail-image:after {
  -moz-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  -webkit-transform: rotate(2deg);
  transform: rotate(2deg);
  right: 5%;
  left: auto;
}

/* line 75, ../.sass/_common-variables.scss */
.panel.panel-coupons .panel-heading .collapse,
.panel.panel-coupons .panel-heading .collapsing,
.panel.panel-coupons .panel-heading .collapse.in {
  width: 100%;
}
/* line 57, ../.sass/_common-variables.scss */
.panel.panel-coupons .panel-heading .collapse:before,
.panel.panel-coupons .panel-heading .collapsing:before,
.panel.panel-coupons .panel-heading .collapse.in:before {
  content: "";
  clear: both;
  display: block;
}
/* line 206, ../.sass/panel.scss */
.panel.panel-coupons .panel-body .coupon {
  margin-bottom: 20px;
}
/* line 211, ../.sass/panel.scss */
.panel.panel-coupons.gallery {
  padding: 20px;
  border: 1px solid #d8d8d8;
}
/* line 216, ../.sass/panel.scss */
.panel.panel-coupons.gallery .panel-heading {
  margin-bottom: 10px;
}
/* line 223, ../.sass/panel.scss */
.panel.panel-coupons.gallery .panel-heading .collapse:before,
.panel.panel-coupons.gallery .panel-heading .collapsing:before,
.panel.panel-coupons.gallery .panel-heading .collapse.in:before {
  display: none;
}
@media (max-width: 768px) {
  /* line 75, ../.sass/_common-variables.scss */
  .panel.panel-coupons.gallery .panel-heading .collapse,
  .panel.panel-coupons.gallery .panel-heading .collapsing,
  .panel.panel-coupons.gallery .panel-heading .collapse.in {
    width: 100%;
  }
  /* line 57, ../.sass/_common-variables.scss */
  .panel.panel-coupons.gallery .panel-heading .collapse:before,
  .panel.panel-coupons.gallery .panel-heading .collapsing:before,
  .panel.panel-coupons.gallery .panel-heading .collapse.in:before {
    content: "";
    clear: both;
    display: block;
  }
}
/* line 232, ../.sass/panel.scss */
.panel.panel-coupons.gallery .panel-heading .panel-navigation {
  margin-top: 0;
}
@media (max-width: 768px) {
  /* line 232, ../.sass/panel.scss */
  .panel.panel-coupons.gallery .panel-heading .panel-navigation {
    margin-top: 10px;
  }
}
/* line 240, ../.sass/panel.scss */
.panel.panel-coupons.gallery .panel-heading .panel-navigation li {
  margin: 6px 5px;
}
/* line 246, ../.sass/panel.scss */
.panel.panel-coupons.gallery .panel-body {
  position: relative;
  padding: 0 40px;
}
/* line 252, ../.sass/panel.scss */
.panel.panel-coupons.gallery .panel-body .coupon-layer {
  padding: 10px;
}
/* line 255, ../.sass/panel.scss */
.panel.panel-coupons.gallery .panel-body .coupon-layer .coupon {
  margin-bottom: 0;
}
/* line 262, ../.sass/panel.scss */
.panel.panel-coupons.gallery .panel-body .owl-nav .owl-prev,
.panel.panel-coupons.gallery .panel-body .owl-nav .owl-next {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 20px;
  font-size: 50px;
  color: #007898;
}
/* line 273, ../.sass/panel.scss */
.panel.panel-coupons.gallery .panel-body .owl-nav .owl-prev .fa,
.panel.panel-coupons.gallery .panel-body .owl-nav .owl-next .fa {
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 0;
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
/* line 283, ../.sass/panel.scss */
.panel.panel-coupons.gallery .panel-body .owl-nav .owl-prev {
  right: 100%;
  margin-left: -10px;
}
/* line 288, ../.sass/panel.scss */
.panel.panel-coupons.gallery .panel-body .owl-nav .owl-next {
  left: 100%;
  margin-left: 10px;
}

/* line 75, ../.sass/_common-variables.scss */
.panel.panel-list .panel-heading .collapse,
.panel.panel-list .panel-heading .collapsing,
.panel.panel-list .panel-heading .collapse.in {
  width: 100%;
}
/* line 57, ../.sass/_common-variables.scss */
.panel.panel-list .panel-heading .collapse:before,
.panel.panel-list .panel-heading .collapsing:before,
.panel.panel-list .panel-heading .collapse.in:before {
  content: "";
  clear: both;
  display: block;
}

/* line 307, ../.sass/panel.scss */
.panel.panel-subscribe.settings {
  border: 1px solid #d8d8d8;
  background: #f1f0f0;
  padding: 25px 45px;
}
/* line 313, ../.sass/panel.scss */
.panel.panel-subscribe.settings .panel-body {
  margin-bottom: 0;
}
/* line 317, ../.sass/panel.scss */
.panel.panel-subscribe.settings .checkbox-container {
  margin-bottom: 40px;
}
@media (max-width: 768px) {
  /* line 317, ../.sass/panel.scss */
  .panel.panel-subscribe.settings .checkbox-container {
    margin-bottom: 20px;
  }
}
/* line 325, ../.sass/panel.scss */
.panel.panel-subscribe.settings .checkbox-container,
.panel.panel-subscribe.settings .radio-container {
  margin-left: -10px;
  margin-right: -10px;
}
/* line 49, ../.sass/_common-variables.scss */
.panel.panel-subscribe.settings .checkbox-container:after,
.panel.panel-subscribe.settings .radio-container:after {
  content: "";
  clear: both;
  display: block;
}
/* line 333, ../.sass/panel.scss */
.panel.panel-subscribe.settings .checkbox-container label,
.panel.panel-subscribe.settings .radio-container label {
  margin: 0 10px;
}
@media (max-width: 768px) {
  /* line 333, ../.sass/panel.scss */
  .panel.panel-subscribe.settings .checkbox-container label,
  .panel.panel-subscribe.settings .radio-container label {
    display: block;
    float: none;
  }
}
/* line 343, ../.sass/panel.scss */
.panel.panel-subscribe.settings .form-control {
  border-color: transparent;
}
/* line 349, ../.sass/panel.scss */
.panel.panel-subscribe.settings .checkbox .form-control,
.panel.panel-subscribe.settings .radio .form-control {
  color: #d9534f;
}
/* line 354, ../.sass/panel.scss */
.panel.panel-subscribe.settings .input-group-title {
  float: left;
  margin: 5.5px 10px 5.5px 0;
}
@media (max-width: 768px) {
  /* line 354, ../.sass/panel.scss */
  .panel.panel-subscribe.settings .input-group-title {
    float: none;
  }
}
/* line 364, ../.sass/panel.scss */
.panel.panel-subscribe.settings .panel-body {
  font-size: 25px;
}
@media (max-width: 768px) {
  /* line 307, ../.sass/panel.scss */
  .panel.panel-subscribe.settings {
    padding: 15px;
  }
}

/* line 376, ../.sass/panel.scss */
.panel.panel-vertical-gallery .panel-heading {
  margin-bottom: 10px;
}
/* line 380, ../.sass/panel.scss */
.panel.panel-vertical-gallery .panel-body {
  margin: 0;
}
/* line 384, ../.sass/panel.scss */
.panel.panel-vertical-gallery .panel-body .bx-gallery {
  display: table;
}
/* line 387, ../.sass/panel.scss */
.panel.panel-vertical-gallery .panel-body .bx-gallery .btn-prev,
.panel.panel-vertical-gallery .panel-body .bx-gallery .btn-next {
  display: block;
  height: 20px;
  cursor: pointer;
  color: #007898;
  text-align: center;
  vertical-align: top;
}
/* line 396, ../.sass/panel.scss */
.panel.panel-vertical-gallery .panel-body .bx-gallery .btn-prev.disabled,
.panel.panel-vertical-gallery .panel-body .bx-gallery .btn-next.disabled {
  opacity: .3;
}
/* line 400, ../.sass/panel.scss */
.panel.panel-vertical-gallery .panel-body .bx-gallery .btn-prev .fa,
.panel.panel-vertical-gallery .panel-body .bx-gallery .btn-next .fa {
  font-size: 50px;
  line-height: 15px;
  font-weight: bold;
}
/* line 407, ../.sass/panel.scss */
.panel.panel-vertical-gallery .panel-body .bx-gallery .btn-next {
  margin-top: 15px;
}
/* line 411, ../.sass/panel.scss */
.panel.panel-vertical-gallery .panel-body .bx-gallery .btn-prev {
  margin-bottom: 15px;
}
/* line 416, ../.sass/panel.scss */
.panel.panel-vertical-gallery .panel-body .bx-image {
  display: table-cell;
  vertical-align: bottom;
  width: 69.3%;
  position: relative;
}
@media (max-width: 768px) {
  /* line 416, ../.sass/panel.scss */
  .panel.panel-vertical-gallery .panel-body .bx-image {
    display: block;
    width: 100%;
  }
}
/* line 428, ../.sass/panel.scss */
.panel.panel-vertical-gallery .panel-body .bx-image .bx-caption {
  text-align: center;
  font-size: 14px;
}
/* line 433, ../.sass/panel.scss */
.panel.panel-vertical-gallery .panel-body .bx-image .layer {
  display: block;
  margin-bottom: 20px;
  overflow: hidden;
}
/* line 438, ../.sass/panel.scss */
.panel.panel-vertical-gallery .panel-body .bx-image .layer img {
  min-width: 100%;
}
@media (min-width: 768px) {
  /* line 444, ../.sass/panel.scss */
  .panel.panel-vertical-gallery .panel-body .bx-image .layer {
    display: block;
    position: absolute;
    left: 0;
    top: 35px;
    bottom: 35px;
    right: 20px;
    margin-bottom: 0;
  }
  /* line 84, ../.sass/_common-variables.scss */
  .panel.panel-vertical-gallery .panel-body .bx-image .layer img {
    display: block;
    min-width: 100%;
    min-height: 100%;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}
/* line 460, ../.sass/panel.scss */
.panel.panel-vertical-gallery .panel-body .bx-slider {
  display: table-cell;
  vertical-align: top;
  width: 30.7%;
}
@media (max-width: 768px) {
  /* line 460, ../.sass/panel.scss */
  .panel.panel-vertical-gallery .panel-body .bx-slider {
    display: block;
    width: 100%;
  }
}
/* line 471, ../.sass/panel.scss */
.panel.panel-vertical-gallery .panel-body .bx-slider .bx-wrapper {
  margin: 0;
  padding: 0;
  border: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 480, ../.sass/panel.scss */
.panel.panel-vertical-gallery .panel-body .bx-slider .layers .layer {
  display: table;
  width: auto !important;
  margin-left: -10px;
  margin-right: -10px;
}
/* line 49, ../.sass/_common-variables.scss */
.panel.panel-vertical-gallery .panel-body .bx-slider .layers .layer:after {
  content: "";
  clear: both;
  display: block;
}
/* line 488, ../.sass/panel.scss */
.panel.panel-vertical-gallery .panel-body .bx-slider .layers .layer > div {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  position: relative;
  overflow: hidden;
  width: 50%;
  min-height: 80px;
  background: #f2f2f2;
  border-right: 10px solid #fff;
  border-left: 10px solid #fff;
}
/* line 501, ../.sass/panel.scss */
.panel.panel-vertical-gallery .panel-body .bx-slider .layers .layer > div a {
  display: block;
  position: relative;
  max-height: 80px;
}
/* line 506, ../.sass/panel.scss */
.panel.panel-vertical-gallery .panel-body .bx-slider .layers .layer > div a img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

/* line 519, ../.sass/panel.scss */
.panel.panel-page-profile {
  background: none;
}
/* line 524, ../.sass/panel.scss */
.panel.panel-page-profile .profile-title {
  font-size: 24px;
}
/* line 528, ../.sass/panel.scss */
.panel.panel-page-profile .profile-link {
  font-size: 18px;
}
/* line 532, ../.sass/panel.scss */
.panel.panel-page-profile .profile-avarat {
  -moz-box-shadow: rgba(0, 0, 0, 0.75) 0 2px 2px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 0 2px 2px;
  box-shadow: rgba(0, 0, 0, 0.75) 0 2px 2px;
}
@media (max-width: 768px) {
  /* line 519, ../.sass/panel.scss */
  .panel.panel-page-profile {
    padding: 0 !important;
  }
}
