/* line 5, ../.sass/pin.scss */
.pin-aria {
  font-size: 18px;
}
/* line 8, ../.sass/pin.scss */
.pin-aria .pin {
  display: block;
  float: left;
  margin-right: 10px;
}

/* line 15, ../.sass/pin.scss */
.pin {
  text-align: center;
  display: inline-block;
  color: #007898 !important;
  background: #fff;
  width: 27px;
  height: 27px;
  cursor: pointer;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 2px 2px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 2px 2px;
  box-shadow: rgba(0, 0, 0, 0.4) 0 2px 2px;
  position: relative;
}
/* line 33, ../.sass/pin.scss */
.pin .fa,
.pin .glyphicon {
  display: table;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
/* line 44, ../.sass/pin.scss */
.pin .fa:before,
.pin .glyphicon:before {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
/* line 50, ../.sass/pin.scss */
.pin .fa.fa-star,
.pin .glyphicon.fa-star {
  font-size: 18px;
}
/* line 54, ../.sass/pin.scss */
.pin .fa.fa-thumb-tack,
.pin .glyphicon.fa-thumb-tack {
  font-size: 20px;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 59, ../.sass/pin.scss */
.pin .fa.fa-map-marker,
.pin .glyphicon.fa-map-marker {
  font-size: 22px;
}
/* line 63, ../.sass/pin.scss */
.pin .fa.fa-user,
.pin .glyphicon.fa-user {
  font-size: 18px;
}
/* line 67, ../.sass/pin.scss */
.pin .fa.fa-file-text,
.pin .glyphicon.fa-file-text {
  font-size: 16px;
}
/* line 71, ../.sass/pin.scss */
.pin .fa.fa-paper-plane,
.pin .glyphicon.fa-paper-plane {
  font-size: 16px;
}
/* line 75, ../.sass/pin.scss */
.pin .fa.fa-trash,
.pin .glyphicon.fa-trash {
  font-size: 20px;
}
/* line 79, ../.sass/pin.scss */
.pin .fa.fa-pencil,
.pin .glyphicon.fa-pencil {
  font-size: 18px;
}
/* line 83, ../.sass/pin.scss */
.pin .fa.fa-lock,
.pin .glyphicon.fa-lock {
  font-size: 19px;
}
/* line 87, ../.sass/pin.scss */
.pin .fa.fa-sign-out,
.pin .glyphicon.fa-sign-out {
  font-size: 18px;
}
