/* line 5, ../.sass/sidebar.scss */
#sidebar {
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 14, ../.sass/sidebar.scss */
.sidebar-images {
  margin-bottom: 20px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 3px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 3px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 2px 3px;
}

/* line 19, ../.sass/sidebar.scss */
.sidebar-services {
  border-top: 1px solid #d2d2d2;
  border-bottom: 1px solid #d2d2d2;
  margin: 30px 0;
}
/* line 26, ../.sass/sidebar.scss */
.sidebar-services .sidebar-services-heading {
  margin: 30px 0 0 0;
}
/* line 30, ../.sass/sidebar.scss */
.sidebar-services .sidebar-services-heading .sidebar-services-title {
  font-size: 22px;
}
/* line 35, ../.sass/sidebar.scss */
.sidebar-services .sidebar-services-body {
  margin-bottom: 15px;
}
/* line 38, ../.sass/sidebar.scss */
.sidebar-services .sidebar-services-body .sidebar-services-list {
  margin: 0 0 30px 0;
  padding: 0;
  list-style-type: none;
}
/* line 43, ../.sass/sidebar.scss */
.sidebar-services .sidebar-services-body .sidebar-services-list li {
  font-size: 18px;
  margin: 10px;
}
/* line 48, ../.sass/sidebar.scss */
.sidebar-services .sidebar-services-body .sidebar-services-list li .fa {
  color: #727272;
}

/* line 56, ../.sass/sidebar.scss */
.sidebar-coupons {
  margin-bottom: 20px;
}
/* line 60, ../.sass/sidebar.scss */
.sidebar-coupons .sidebar-coupons-heading {
  margin-bottom: 15px;
}
/* line 64, ../.sass/sidebar.scss */
.sidebar-coupons .sidebar-coupons-heading .sidebar-coupons-title {
  font-size: 22px;
}
/* line 69, ../.sass/sidebar.scss */
.sidebar-coupons .sidebar-coupons-body {
  margin-bottom: 15px;
}

/* line 74, ../.sass/sidebar.scss */
.sidebar-tabs {
  margin-bottom: 20px;
}
/* line 78, ../.sass/sidebar.scss */
.sidebar-tabs .sidebar-tabs-heading {
  margin-bottom: 15px;
}
/* line 82, ../.sass/sidebar.scss */
.sidebar-tabs .sidebar-tabs-heading .sidebar-tabs-title {
  font-size: 18px;
  border-bottom: 1px solid #007797;
}
/* line 88, ../.sass/sidebar.scss */
.sidebar-tabs .sidebar-tabs-body {
  margin-bottom: 15px;
}

/* line 93, ../.sass/sidebar.scss */
.sidebar-lottery {
  margin-bottom: 20px;
}
/* line 101, ../.sass/sidebar.scss */
.sidebar-lottery a {
  color: #000;
}
/* line 66, ../.sass/_common-variables.scss */
.sidebar-lottery a {
  text-decoration: underline;
}
/* line 69, ../.sass/_common-variables.scss */
.sidebar-lottery a:hover {
  text-decoration: none;
}
/* line 107, ../.sass/sidebar.scss */
.sidebar-lottery .form-control {
  border-color: transparent;
  background: #ececec;
}
/* line 113, ../.sass/sidebar.scss */
.sidebar-lottery .checkbox .form-control {
  color: #d9534f;
}
/* line 118, ../.sass/sidebar.scss */
.sidebar-lottery .prize-title {
  font-size: 25px;
  color: #007797;
}
/* line 125, ../.sass/sidebar.scss */
.sidebar-lottery .input-group .form-control {
  background: #ececec;
  border-color: transparent;
}
/* line 131, ../.sass/sidebar.scss */
.sidebar-lottery .input-group .form-control:focus {
  border-color: transparent;
}
/* line 136, ../.sass/sidebar.scss */
.sidebar-lottery .input-group .input-group-addon {
  padding: 0;
  background: #ececec;
  border-color: transparent;
}
/* line 142, ../.sass/sidebar.scss */
.sidebar-lottery .input-group .input-group-addon .btn {
  padding: 3px 12px;
  margin: 0 3px;
}
/* line 149, ../.sass/sidebar.scss */
.sidebar-lottery .sidebar-lottery-heading {
  margin-bottom: 15px;
}
/* line 153, ../.sass/sidebar.scss */
.sidebar-lottery .sidebar-lottery-heading .sidebar-lottery-title {
  font-size: 28px;
}

/* line 162, ../.sass/sidebar.scss */
.sidebar-socials {
  margin-bottom: 20px;
}
/* line 168, ../.sass/sidebar.scss */
.sidebar-socials .sidebar-socials-heading ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* line 50, ../.sass/_common-variables.scss */
.sidebar-socials .sidebar-socials-heading ul:after {
  content: "";
  clear: both;
  display: block;
}
/* line 175, ../.sass/sidebar.scss */
.sidebar-socials .sidebar-socials-heading ul li {
  margin-right: 5px;
  float: left;
}
/* line 180, ../.sass/sidebar.scss */
.sidebar-socials .sidebar-socials-heading ul li.active .social {
  padding-bottom: 3px;
}
/* line 190, ../.sass/sidebar.scss */
.sidebar-socials .sidebar-socials-body .tab-pane {
  display: none;
  padding-top: 15px;
}
/* line 194, ../.sass/sidebar.scss */
.sidebar-socials .sidebar-socials-body .tab-pane.active {
  display: block;
  border-top: 5px solid transparent;
}
/* line 200, ../.sass/sidebar.scss */
.sidebar-socials .sidebar-socials-body #tab-facebook {
  border-color: #49659f;
}
/* line 204, ../.sass/sidebar.scss */
.sidebar-socials .sidebar-socials-body #tab-twitter {
  border-color: #47afff;
}
/* line 208, ../.sass/sidebar.scss */
.sidebar-socials .sidebar-socials-body #tab-vk {
  border-color: #7b97d2;
}

/* line 214, ../.sass/sidebar.scss */
.sidebar-reviews {
  margin-bottom: 20px;
}
/* line 218, ../.sass/sidebar.scss */
.sidebar-reviews .sidebar-reviews-heading {
  margin-bottom: 15px;
}
/* line 222, ../.sass/sidebar.scss */
.sidebar-reviews .sidebar-reviews-heading .sidebar-reviews-title {
  font-size: 28px;
}
/* line 227, ../.sass/sidebar.scss */
.sidebar-reviews .sidebar-reviews-body {
  color: #5e5e5e;
  margin-bottom: 15px;
}
/* line 231, ../.sass/sidebar.scss */
.sidebar-reviews .sidebar-reviews-body a {
  color: #5e5e5e !important;
}
/* line 237, ../.sass/sidebar.scss */
.sidebar-reviews .sidebar-reviews-body .media {
  border-bottom: 1px solid #e7e7e7;
}
/* line 241, ../.sass/sidebar.scss */
.sidebar-reviews .sidebar-reviews-body .media:last-child {
  border-bottom: 0;
}
/* line 245, ../.sass/sidebar.scss */
.sidebar-reviews .sidebar-reviews-body .media .media-heading {
  font-size: 14px;
  border-bottom: 1px solid #e7e7e7;
  padding-bottom: 5px;
  margin: 0;
}
/* line 254, ../.sass/sidebar.scss */
.sidebar-reviews .sidebar-reviews-body .media .media-heading a {
  text-decoration: none !important;
}
/* line 258, ../.sass/sidebar.scss */
.sidebar-reviews .sidebar-reviews-body .media .media-body {
  font-size: 12px;
}
/* line 264, ../.sass/sidebar.scss */
.sidebar-reviews .sidebar-reviews-footer {
  margin-bottom: 15px;
  text-align: center;
}
