/* line 5, ../.sass/social.scss */
.social {
  border: 0 !important;
  -moz-border-radius: 0 !important;
  -webkit-border-radius: 0;
  border-radius: 0 !important;
  display: inline-block;
  text-align: center;
  min-width: 40px !important;
  min-height: 40px !important;
  color: #fff !important;
  font-size: 18px !important;
  line-height: 40px !important;
  padding: 0;
}
/* line 18, ../.sass/social.scss */
.social.facebook {
  background-color: #49659f !important;
}
/* line 22, ../.sass/social.scss */
.social.twitter {
  background-color: #47afff !important;
}
/* line 26, ../.sass/social.scss */
.social.vk {
  background-color: #7b97d2 !important;
}
/* line 30, ../.sass/social.scss */
.social.email {
  background-color: #db4c9f !important;
}
/* line 34, ../.sass/social.scss */
.social.google {
  background-color: #DD4B39 !important;
}
