/* line 5, ../.sass/user.scss */
.user-container {
  background: #f1f0f0;
  margin-bottom: 20px;
  margin-top: -20px;
}
@media (max-width: 767px) {
  /* line 5, ../.sass/user.scss */
  .user-container {
    margin-top: 0;
    margin-left: -15px;
    margin-right: -15px;
  }
}
/* line 19, ../.sass/user.scss */
.user-container .user-profile {
  display: table;
  min-width: 100%;
  padding: 35px 0;
}
/* line 25, ../.sass/user.scss */
.user-container .user-profile .user-object {
  display: table-cell;
  vertical-align: middle;
  padding: 0 15px;
  font-size: 18px;
}
/* line 33, ../.sass/user.scss */
.user-container .user-profile .user-object small {
  display: block;
  color: #717171;
  font-size: 70%;
}
@media (max-width: 768px) {
  /* line 25, ../.sass/user.scss */
  .user-container .user-profile .user-object {
    display: block;
    margin-bottom: 10px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  /* line 25, ../.sass/user.scss */
  .user-container .user-profile .user-object {
    float: left;
    width: 25%;
  }
  /* line 48, ../.sass/user.scss */
  .user-container .user-profile .user-object.user-avatar, .user-container .user-profile .user-object.user-logout {
    width: auto;
    text-align: center;
    float: none;
  }
  /* line 58, ../.sass/_common-variables.scss */
  .user-container .user-profile .user-object.user-avatar:before, .user-container .user-profile .user-object.user-logout:before {
    content: "";
    clear: both;
    display: block;
  }
}
@media (min-width: 1200px) {
  /* line 25, ../.sass/user.scss */
  .user-container .user-profile .user-object {
    padding: 0 30px;
  }
}
/* line 61, ../.sass/user.scss */
.user-container .user-profile .user-avatar {
  text-align: center;
}
/* line 64, ../.sass/user.scss */
.user-container .user-profile .user-avatar img {
  border: 3px solid #fff;
  -moz-box-shadow: rgba(0, 0, 0, 0.75) 0 2px 3px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 0 2px 3px;
  box-shadow: rgba(0, 0, 0, 0.75) 0 2px 3px;
}
@media (max-width: 767px) {
  /* line 61, ../.sass/user.scss */
  .user-container .user-profile .user-avatar {
    text-align: left;
    margin: 0 0 15px 0;
  }
}
/* line 75, ../.sass/user.scss */
.user-container .user-profile .user-name {
  font-size: 20px;
}
/* line 79, ../.sass/user.scss */
.user-container .user-profile .user-logout {
  text-align: right;
}
@media (max-width: 767px) {
  /* line 19, ../.sass/user.scss */
  .user-container .user-profile {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (min-width: 1200px) {
  /* line 19, ../.sass/user.scss */
  .user-container .user-profile {
    padding-left: 25px;
    padding-right: 25px;
  }
}
/* line 95, ../.sass/user.scss */
.user-container .user-navigation {
  padding: 0 15px;
  border-bottom: 5px solid #007797;
}
/* line 50, ../.sass/_common-variables.scss */
.user-container .user-navigation:after {
  content: "";
  clear: both;
  display: block;
}
@media (max-width: 767px) {
  /* line 95, ../.sass/user.scss */
  .user-container .user-navigation {
    padding: 0;
  }
}
/* line 106, ../.sass/user.scss */
.user-container .user-navigation ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (max-width: 768px) {
  /* line 106, ../.sass/user.scss */
  .user-container .user-navigation ul {
    width: 100%;
  }
}
/* line 115, ../.sass/user.scss */
.user-container .user-navigation ul li {
  display: block;
  margin: 0 5px;
  float: left;
}
/* line 50, ../.sass/_common-variables.scss */
.user-container .user-navigation ul li:after {
  content: "";
  clear: both;
  display: block;
}
/* line 122, ../.sass/user.scss */
.user-container .user-navigation ul li a, .user-container .user-navigation ul li .pin-aria {
  display: block;
  background: #c9c9c9;
  color: #fff;
  font-size: 24px;
  padding: 6px 12px;
  text-decoration: none !important;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
}
/* line 132, ../.sass/user.scss */
.user-container .user-navigation ul li a:hover, .user-container .user-navigation ul li .pin-aria:hover {
  background: #B9B9B9;
}
/* line 138, ../.sass/user.scss */
.user-container .user-navigation ul li .pin-aria .pin {
  margin: 2px 15px 2px 0;
  color: #c9c9c9 !important;
}
/* line 144, ../.sass/user.scss */
.user-container .user-navigation ul li .pin-aria:hover .pin {
  color: #B9B9B9 !important;
}
/* line 151, ../.sass/user.scss */
.user-container .user-navigation ul li.active a, .user-container .user-navigation ul li.active .pin-aria {
  background: #007797 !important;
}
/* line 156, ../.sass/user.scss */
.user-container .user-navigation ul li.active .pin-aria .pin {
  color: #007797 !important;
}
@media (max-width: 768px) {
  /* line 115, ../.sass/user.scss */
  .user-container .user-navigation ul li {
    float: none;
    margin: 0;
  }
}
