


.dropdown-menu>li>form>button {
    display: block;
    border: none;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    text-decoration: none;
    background-color: #ffffff;
    width: 100%;
}

.dropdown-menu>li>form>button:hover,
.dropdown-menu>li>form>button:focus {
    text-decoration: none;
    color: #262626;
    background-color: #f5f5f5;
    background-image: linear-gradient(to bottom,#f5f5f5 0,#e8e8e8 100%);
    background-repeat: repeat-x;
}

.w-buton-form:first-child {
    margin-left: 0;

}

.w-buton-form {
    position: relative;
    display: inline-block;
    /*margin-left: 2%;*/
    vertical-align: baseline;


}

.w-buton-befor-table {
    position: relative;
    display: inline-block;
}

.form-group {
    margin-bottom: 5px;
}

/*input_file*/
.container{
    margin-top:20px;
}
.image-preview-input {
    position: relative;
    overflow: hidden;
    margin: 0px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.image-preview-input input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
}
/*input_file end*/
.w-delete {
    display: none;
    float: right;
}

.w-tr-hover-file-del:hover .w-delete {
   display: inline;
}

.w-float-reset {
    clear: right;
}

.input-group {
    margin-bottom: 2px;
}

.w-cheked-right {
    display: inline-block;
    text-align: right;
}



#top {
    color: #6C7980;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    min-width: 1000px;
    padding: 0;
    background: #eff0f1;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#eff0f1), to(#dfe2e6));
    background: -webkit-linear-gradient(#eff0f1, #dfe2e6);
    background: -moz-linear-gradient(#eff0f1, #dfe2e6);
    background: -ms-linear-gradient(#eff0f1, #dfe2e6);
    background: -o-linear-gradient(#eff0f1, #dfe2e6);
    background: linear-gradient(#eff0f1, #dfe2e6);
    -pie-background: linear-gradient(#eff0f1, #dfe2e6);
    zoom: 1;
    behavior: url(/css/PIE.htc);
    border-bottom: 1px solid #aaafb3;
}

#top:before, #top:after {
    display: block;
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 1px;
    background: #fff;
    content: "";
}




table.dataTable tbody th, table.dataTable tbody td {
    padding: 0px 10px;
}

table.dataTable .w-buton-form {
    height: 34px;
    margin-top: 4px;
}

.btn-group-lg>.btn, .btn-lg {
    padding: 4px 7px;
    font-size: 15px;
    line-height: 1.3333333;
    border-radius: 6px;
}

tbody {
    font-size: 12px;
}

tbody th, table.dataTable tbody td {
    padding: 3px 5px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: 4px 12px;
    margin-left: 2px;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;

}

table.dataTable thead th, table.dataTable thead td {
    padding: 6px 4px;
    border-bottom: 1px solid #111111;
    font-size: 14px;
}





.page-header {
    padding-bottom: 9px;
    margin: 55px 0 13px;
    border-bottom: 1px solid #eee;
}


nav.sidebar, .main{
    -webkit-transition: margin 200ms ease-out;
    -moz-transition: margin 200ms ease-out;
    -o-transition: margin 200ms ease-out;
    transition: margin 200ms ease-out;
}

.main{
    padding: 10px 10px 0 10px;
}

@media (min-width: 765px) {

    .main{
        position: absolute;
        width: calc(100% - 40px);
        margin-left: 40px;
        float: right;
    }

    nav.sidebar:hover + .main{
        margin-left: 200px;
    }

    nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
        margin-left: 28px;
    }

    nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
        text-align: center;
        width: 100%;
        margin-left: 0px;
    }

    nav.sidebar a{
        padding-right: 8px;
        padding-top: 7px;
        padding-bottom: 7px;
    }

    nav.sidebar .navbar-nav > li:first-child{
        border-top: 1px #e5e5e5 solid;
    }

    nav.sidebar .navbar-nav > li{
        border-bottom: 1px #e5e5e5 solid;
    }

    nav.sidebar .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
        padding: 0 0px 0 0px;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
        color: #777;
    }

    nav.sidebar{
        position: fixed;
        z-index: 100;
        width: 170px;
        height: 100%;
        margin-left: -133px;
        float: left;
        margin-bottom: 0px;
    }

    nav.sidebar li {
        width: 100%;
    }

    nav.sidebar:hover{
        margin-left: 0px;
    }

    .forAnimate{
        opacity: 0;
    }
}

@media (min-width: 1330px) {

    .main{
        width: calc(100% - 200px);
        margin-left: 200px;
    }

    nav.sidebar{
        margin-left: 0px;
        float: left;
    }

    nav.sidebar .forAnimate{
        opacity: 1;
    }
}

nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover, nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
    color: #CCC;
    background-color: transparent;
}

nav:hover .forAnimate{
    opacity: 1;
}
section{
    padding-left: 15px;
}

div#bs-sidebar-navbar-collapse-1 ul.nav.navbar-nav {
    float: none;
}


li.media.edit {
    width: 409px;
    vertical-align: top;
    display: inline-block;
}

li.media.edit img.media-object.pull-left {
    width: 90px;
}














/*preloader*/

#circularG{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 44%;
    z-index: 100;
}

.circularG{
    position:absolute;
    background-color:#609DE8;
    width:23px;
    height:23px;
    -moz-border-radius:15px;
    -moz-animation-name:bounce_circularG;
    -moz-animation-duration:1.04s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-direction:normal;
    -webkit-border-radius:15px;
    -webkit-animation-name:bounce_circularG;
    -webkit-animation-duration:1.04s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-direction:normal;
    -ms-border-radius:15px;
    -ms-animation-name:bounce_circularG;
    -ms-animation-duration:1.04s;
    -ms-animation-iteration-count:infinite;
    -ms-animation-direction:normal;
    -o-border-radius:15px;
    -o-animation-name:bounce_circularG;
    -o-animation-duration:1.04s;
    -o-animation-iteration-count:infinite;
    -o-animation-direction:normal;
    border-radius:15px;
    animation-name:bounce_circularG;
    animation-duration:1.04s;
    animation-iteration-count:infinite;
    animation-direction:normal;
}

#circularG_1{
    left:0;
    top:39px;
    -moz-animation-delay:0.39s;
    -webkit-animation-delay:0.39s;
    -ms-animation-delay:0.39s;
    -o-animation-delay:0.39s;
    animation-delay:0.39s;
}

#circularG_2{
    left:11px;
    top:11px;
    -moz-animation-delay:0.52s;
    -webkit-animation-delay:0.52s;
    -ms-animation-delay:0.52s;
    -o-animation-delay:0.52s;
    animation-delay:0.52s;
}

#circularG_3{
    top:0;
    left:39px;
    -moz-animation-delay:0.65s;
    -webkit-animation-delay:0.65s;
    -ms-animation-delay:0.65s;
    -o-animation-delay:0.65s;
    animation-delay:0.65s;
}

#circularG_4{
    right:11px;
    top:11px;
    -moz-animation-delay:0.78s;
    -webkit-animation-delay:0.78s;
    -ms-animation-delay:0.78s;
    -o-animation-delay:0.78s;
    animation-delay:0.78s;
}

#circularG_5{
    right:0;
    top:39px;
    -moz-animation-delay:0.91s;
    -webkit-animation-delay:0.91s;
    -ms-animation-delay:0.91s;
    -o-animation-delay:0.91s;
    animation-delay:0.91s;
}

#circularG_6{
    right:11px;
    bottom:11px;
    -moz-animation-delay:1.04s;
    -webkit-animation-delay:1.04s;
    -ms-animation-delay:1.04s;
    -o-animation-delay:1.04s;
    animation-delay:1.04s;
}

#circularG_7{
    left:39px;
    bottom:0;
    -moz-animation-delay:1.17s;
    -webkit-animation-delay:1.17s;
    -ms-animation-delay:1.17s;
    -o-animation-delay:1.17s;
    animation-delay:1.17s;
}

#circularG_8{
    left:11px;
    bottom:11px;
    -moz-animation-delay:1.3s;
    -webkit-animation-delay:1.3s;
    -ms-animation-delay:1.3s;
    -o-animation-delay:1.3s;
    animation-delay:1.3s;
}

@-moz-keyframes bounce_circularG{
    0%{
        -moz-transform:scale(1)}

    100%{
        -moz-transform:scale(.3)}

}

@-webkit-keyframes bounce_circularG{
    0%{
        -webkit-transform:scale(1)}

    100%{
        -webkit-transform:scale(.3)}

}

@-ms-keyframes bounce_circularG{
    0%{
        -ms-transform:scale(1)}

    100%{
        -ms-transform:scale(.3)}

}

@-o-keyframes bounce_circularG{
    0%{
        -o-transform:scale(1)}

    100%{
        -o-transform:scale(.3)}

}

@keyframes bounce_circularG{
    0%{
        transform:scale(1)}

    100%{
        transform:scale(.3)}

}



tr input[value=StatusBusiness] {
    color: #0c0c0c;
}